<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.basic.order.dao.ProcessRuleMapper" >
  <resultMap id="BaseResultMap" type="com.basic.order.model.ProcessRule" >
    <id column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
    <result column="SERVICE_ID" property="serviceId" jdbcType="DECIMAL" />
    <result column="SERVICE_CODE" property="serviceCode" jdbcType="VARCHAR" />
    <result column="PROCESS_DEFINE_KEY" property="processDefineKey" jdbcType="VARCHAR" />
    <result column="EXTEND_RULE_ID" property="extendRuleId" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="DECIMAL" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RULE_ID, SERVICE_ID, SERVICE_CODE, PROCESS_DEFINE_KEY, EXTEND_RULE_ID, STATE, CREATE_USER_ID, 
    CREATE_TIME, MODIFY_USER_ID, MODIFY_TIME, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from PF_PROCESS_RULE
    where RULE_ID = #{ruleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from PF_PROCESS_RULE
    where RULE_ID = #{ruleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.order.model.ProcessRule" >
    insert into PF_PROCESS_RULE (RULE_ID, SERVICE_ID, SERVICE_CODE, 
      PROCESS_DEFINE_KEY, EXTEND_RULE_ID, STATE, 
      CREATE_USER_ID, CREATE_TIME, MODIFY_USER_ID, 
      MODIFY_TIME, REMARKS)
    values (#{ruleId,jdbcType=DECIMAL}, #{serviceId,jdbcType=DECIMAL}, #{serviceCode,jdbcType=VARCHAR}, 
      #{processDefineKey,jdbcType=VARCHAR}, #{extendRuleId,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=DECIMAL}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.order.model.ProcessRule" >
    insert into PF_PROCESS_RULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        RULE_ID,
      </if>
      <if test="serviceId != null" >
        SERVICE_ID,
      </if>
      <if test="serviceCode != null" >
        SERVICE_CODE,
      </if>
      <if test="processDefineKey != null" >
        PROCESS_DEFINE_KEY,
      </if>
      <if test="extendRuleId != null" >
        EXTEND_RULE_ID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyUserId != null" >
        MODIFY_USER_ID,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=DECIMAL},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=DECIMAL},
      </if>
      <if test="serviceCode != null" >
        #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="processDefineKey != null" >
        #{processDefineKey,jdbcType=VARCHAR},
      </if>
      <if test="extendRuleId != null" >
        #{extendRuleId,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.order.model.ProcessRule" >
    update PF_PROCESS_RULE
    <set >
      <if test="serviceId != null" >
        SERVICE_ID = #{serviceId,jdbcType=DECIMAL},
      </if>
      <if test="serviceCode != null" >
        SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR},
      </if>
      <if test="processDefineKey != null" >
        PROCESS_DEFINE_KEY = #{processDefineKey,jdbcType=VARCHAR},
      </if>
      <if test="extendRuleId != null" >
        EXTEND_RULE_ID = #{extendRuleId,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where RULE_ID = #{ruleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.order.model.ProcessRule" >
    update PF_PROCESS_RULE
    set SERVICE_ID = #{serviceId,jdbcType=DECIMAL},
      SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR},
      PROCESS_DEFINE_KEY = #{processDefineKey,jdbcType=VARCHAR},
      EXTEND_RULE_ID = #{extendRuleId,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where RULE_ID = #{ruleId,jdbcType=DECIMAL}
  </update>
  
  <!-- 根据单据id获取流程适配规则 -->
  <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT 
    PPR.RULE_ID, PPR.SERVICE_ID, PPR.SERVICE_CODE, PPR.PROCESS_DEFINE_KEY, PPR.EXTEND_RULE_ID, PPR.STATE, PPR.CREATE_USER_ID, 
    PPR.CREATE_TIME, PPR.MODIFY_USER_ID, PPR.MODIFY_TIME, PPR.REMARKS
    FROM PF_PROCESS_RULE PPR
    JOIN PF_ORDER_SERVICE POS ON POS.SERVICE_ID = PPR.SERVICE_ID AND POS.STATE = '10A'
    JOIN OF_ORDER OO ON OO.SERVICE_ID = POS.SERVICE_ID 
    WHERE PPR.STATE = '10A' AND OO.ORDER_ID = #{orderId,jdbcType=DECIMAL}
  </select>
  
   <!-- 查询服务总数 -->
  <select id="selectProcessRuleListCount" resultType="java.lang.Long"
		parameterType="com.basic.order.bean.ProcessRuleIbean">
		SELECT
		COUNT(0)
		FROM PF_PROCESS_RULE
		<where>
			STATE = '10A'
			<if test="serviceCode != null and serviceCode != ''">
				AND SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR}
			</if>
			<if test="processDefineKey != null and processDefineKey != ''">
               AND PROCESS_DEFINE_KEY = #{processDefineKey,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<!-- 查询全部服务 -->
	<select id="selectProcessRuleList" resultMap="BaseResultMap"
		parameterType="com.basic.order.bean.ProcessRuleIbean">
		SELECT
		<include refid="Base_Column_List" />
		FROM PF_PROCESS_RULE
		<where>
			STATE = '10A'
			<if test="serviceCode != null and serviceCode != ''">
				AND SERVICE_CODE = #{serviceCode,jdbcType=VARCHAR}
			</if>
			<if test="processDefineKey != null and processDefineKey != ''">
                AND PROCESS_DEFINE_KEY = #{processDefineKey,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
  <!-- 批量修改状态 -->
	<update id="updateBatchStateByRuleIds" parameterType="com.basic.order.model.ProcessRule">
		UPDATE PF_PROCESS_RULE
		<set>
			<if test="state != null">
				STATE = #{state,jdbcType=VARCHAR},
			</if>
			<if test="modifyUserId != null">
				MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE RULE_ID IN
		<foreach collection="ruleIds" item="ruleId"
			index="index" open="(" close=")" separator=",">
			#{ruleId,jdbcType=DECIMAL}
		</foreach>
	</update>
</mapper>