@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yqxq0s');
  src:  url('fonts/icomoon.eot?yqxq0s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yqxq0s') format('truetype'),
    url('fonts/icomoon.woff?yqxq0s') format('woff'),
    url('fonts/icomoon.svg?yqxq0s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* font-family: 'icomoon' !important; */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caigoumingxi:before {
  content: "\e900";
  color: #f2725e;
}
.icon-ribaobiao:before {
  content: "\e901";
  color: #0078ff;
}
.icon-wodeshenqing:before {
  content: "\e902";
  color: #0078ff;
}
.icon-xiaoshoubaobiao:before {
  content: "\e903";
  color: #0078ff;
}
.icon-shanchu:before {
  content: "\e904";
}
.icon-xiugai:before {
  content: "\e905";
}
.icon-xinzeng:before {
  content: "\e906";
}
.icon-daochu:before {
  content: "\e907";
}
.icon-jinyong:before {
  content: "\e908";
}
.icon-qiyong .path1:before {
  content: "\e909";
  color: rgb(102, 102, 102);
}
.icon-qiyong .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(68, 68, 68);
}
.icon-daoru:before {
  content: "\e90b";
}
.icon-xiazai:before {
  content: "\e90c";
}
.icon-shenpi:before {
  content: "\e90d";
}
.icon-shengcheng:before {
  content: "\e90e";
}
.icon-zhanqishenqing:before {
  content: "\e90f";
}
.icon-zhongzhipeihuo:before {
  content: "\e910";
  color: #666;
}
.icon-hetongyichang .path1:before {
  content: "\e911";
  color: rgb(68, 68, 68);
}
.icon-hetongyichang .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hetongyichang .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-gengxinpeihuo:before {
  content: "\e914";
}
.icon-diaobochuku:before {
  content: "\e915";
}
.icon-xiaoshoutuidan:before {
  content: "\e916";
}
.icon-rukutidan:before {
  content: "\e917";
}
.icon-diaobotuidan:before {
  content: "\e918";
}
.icon-hetonghuizhuan:before {
  content: "\e919";
}
.icon-caigoutuidan:before {
  content: "\e91a";
}
.icon-quxiaoduizhang:before {
  content: "\e91b";
}
.icon-icon-baozhengjin:before {
  content: "\e91c";
}
.icon-querenzhuanzhang:before {
  content: "\e91d";
}
.icon-shengchengdingjin:before {
  content: "\e91e";
}
.icon-shoukuandan:before {
  content: "\e91f";
}
.icon-shoukuandengjidan:before {
  content: "\e920";
}
.icon-zhuandaikuan:before {
  content: "\e921";
}
.icon-chehui:before {
  content: "\e922";
}
.icon-icon-baocun:before {
  content: "\e923";
}
.icon-xinzengcangku:before {
  content: "\e924";
}
.icon-dingdanguanli:before {
  content: "\e925";
}
.icon-zijinguanli:before {
  content: "\e926";
}
.icon-tongjifenxi:before {
  content: "\e927";
}
.icon-kucunguanli:before {
  content: "\e928";
}
.icon-xiaoshouguanli:before {
  content: "\e929";
}
.icon-caigouguanli:before {
  content: "\e92a";
}
.icon-jichushuju:before {
  content: "\e92b";
}
