<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.DataScopeTypeMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.DataScopeType">
    <id column="SCOPE_TYPE" jdbcType="VARCHAR" property="scopeType" />
    <result column="SCOPE_TYPE_NAME" jdbcType="VARCHAR" property="scopeTypeName" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="DATA_URL" jdbcType="VARCHAR" property="dataUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    SCOPE_TYPE, SCOPE_TYPE_NAME, DATA_FLAG, DATA_URL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_PRIV_DATA_SCOPE_TYPE
    where SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from OAAS_PRIV_DATA_SCOPE_TYPE
    where SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.DataScopeType">
    insert into OAAS_PRIV_DATA_SCOPE_TYPE (SCOPE_TYPE, SCOPE_TYPE_NAME, DATA_FLAG, 
      DATA_URL)
    values (#{scopeType,jdbcType=VARCHAR}, #{scopeTypeName,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}, 
      #{dataUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.DataScopeType">
    insert into OAAS_PRIV_DATA_SCOPE_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scopeType != null">
        SCOPE_TYPE,
      </if>
      <if test="scopeTypeName != null">
        SCOPE_TYPE_NAME,
      </if>
      <if test="dataFlag != null">
        DATA_FLAG,
      </if>
      <if test="dataUrl != null">
        DATA_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scopeType != null">
        #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="scopeTypeName != null">
        #{scopeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="dataUrl != null">
        #{dataUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.DataScopeType">
    update OAAS_PRIV_DATA_SCOPE_TYPE
    <set>
      <if test="scopeTypeName != null">
        SCOPE_TYPE_NAME = #{scopeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        DATA_FLAG = #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="dataUrl != null">
        DATA_URL = #{dataUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.DataScopeType">
    update OAAS_PRIV_DATA_SCOPE_TYPE
    set SCOPE_TYPE_NAME = #{scopeTypeName,jdbcType=VARCHAR},
      DATA_FLAG = #{dataFlag,jdbcType=VARCHAR},
      DATA_URL = #{dataUrl,jdbcType=VARCHAR}
    where SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAllTypeList" resultMap="BaseResultMap">
  	SELECT
		<include refid="Base_Column_List" />
	FROM
	OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST
  </select>
</mapper>