<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.OrgCompanyMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.OrgCompany">
    <id column="DETAIL_ID" jdbcType="DECIMAL" property="detailId" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="companyId" />
  </resultMap>
  <sql id="Base_Column_List">
    DETAIL_ID, ORG_ID, COMPANY_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_ORG_COMPANY
    where DETAIL_ID = #{detailId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_ORG_COMPANY
    where DETAIL_ID = #{detailId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.OrgCompany">
    insert into OAAS_ORG_COMPANY (DETAIL_ID, ORG_ID, COMPANY_ID
      )
    values (#{detailId,jdbcType=DECIMAL}, #{orgId,jdbcType=DECIMAL}, #{companyId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.OrgCompany">
    insert into OAAS_ORG_COMPANY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        DETAIL_ID,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailId != null">
        #{detailId,jdbcType=DECIMAL},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.OrgCompany">
    update OAAS_ORG_COMPANY
    <set>
      <if test="orgId != null">
        ORG_ID = #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="companyId != null">
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
    </set>
    where DETAIL_ID = #{detailId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.OrgCompany">
    update OAAS_ORG_COMPANY
    set ORG_ID = #{orgId,jdbcType=DECIMAL},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL}
    where DETAIL_ID = #{detailId,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteByOrgId">
    DELETE FROM OAAS_ORG_COMPANY
    WHERE ORG_ID  = #{orgId,jdbcType=DECIMAL}
  </delete>
  
  
   <select id="selectByOrgId"  parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_ORG_COMPANY
    where ORG_ID  = #{orgId,jdbcType=DECIMAL}
  </select>
</mapper>