<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.PrivateDataInstDataMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.PrivateDataInstData">
    <id column="DATA_INST_DATA_ID" jdbcType="DECIMAL" property="dataInstDataId" />
    <result column="DATA_INST_ID" jdbcType="DECIMAL" property="dataInstId" />
    <result column="DATA_DATA_ID" jdbcType="DECIMAL" property="dataDataId" />
    <result column="SOURCE_ID" jdbcType="VARCHAR" property="sourceId" />
    <result column="SOURCE_NAME" jdbcType="VARCHAR" property="sourceName" />
  </resultMap>
  <sql id="Base_Column_List">
    DATA_INST_DATA_ID, DATA_INST_ID, DATA_DATA_ID, SOURCE_ID, SOURCE_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_PRIV_DATA_INST_DATA
    where DATA_INST_DATA_ID = #{dataInstDataId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_PRIV_DATA_INST_DATA
    where DATA_INST_DATA_ID = #{dataInstDataId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.PrivateDataInstData">
    insert into OAAS_PRIV_DATA_INST_DATA (DATA_INST_DATA_ID, DATA_INST_ID, DATA_DATA_ID, 
      SOURCE_ID, SOURCE_NAME)
    values (#{dataInstDataId,jdbcType=DECIMAL}, #{dataInstId,jdbcType=DECIMAL}, #{dataDataId,jdbcType=DECIMAL}, 
      #{sourceId,jdbcType=VARCHAR}, #{sourceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.PrivateDataInstData">
    insert into OAAS_PRIV_DATA_INST_DATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataInstDataId != null">
        DATA_INST_DATA_ID,
      </if>
      <if test="dataInstId != null">
        DATA_INST_ID,
      </if>
      <if test="dataDataId != null">
        DATA_DATA_ID,
      </if>
      <if test="sourceId != null">
        SOURCE_ID,
      </if>
      <if test="sourceName != null">
        SOURCE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataInstDataId != null">
        #{dataInstDataId,jdbcType=DECIMAL},
      </if>
      <if test="dataInstId != null">
        #{dataInstId,jdbcType=DECIMAL},
      </if>
      <if test="dataDataId != null">
        #{dataDataId,jdbcType=DECIMAL},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.PrivateDataInstData">
    update OAAS_PRIV_DATA_INST_DATA
    <set>
      <if test="dataInstId != null">
        DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL},
      </if>
      <if test="dataDataId != null">
        DATA_DATA_ID = #{dataDataId,jdbcType=DECIMAL},
      </if>
      <if test="sourceId != null">
        SOURCE_ID = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        SOURCE_NAME = #{sourceName,jdbcType=VARCHAR},
      </if>
    </set>
    where DATA_INST_DATA_ID = #{dataInstDataId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.PrivateDataInstData">
    update OAAS_PRIV_DATA_INST_DATA
    set DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL},
      DATA_DATA_ID = #{dataDataId,jdbcType=DECIMAL},
      SOURCE_ID = #{sourceId,jdbcType=VARCHAR},
      SOURCE_NAME = #{sourceName,jdbcType=VARCHAR}
    where DATA_INST_DATA_ID = #{dataInstDataId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectInstDataList" resultMap="BaseResultMap" parameterType="com.basic.oaas.bean.PrivateDataInstDataIbean">
  	SELECT
		OPDID.DATA_INST_DATA_ID,OPDID.DATA_INST_ID,
		OPDID.DATA_DATA_ID,OPDID.SOURCE_ID,
		OPDID.SOURCE_NAME
	FROM
	OAAS_PRIV_DATA_INST_DATA AS OPDID
	<where>
		<if test="dataInstId != null and dataInstId != ''">
			OPDID.DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
		</if>
	</where>
	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  
  <select id="selectInstDataListCount" resultType="java.lang.Long" parameterType="com.basic.oaas.bean.PrivateDataInstDataIbean">
  	SELECT
		COUNT(1)
	FROM
	OAAS_PRIV_DATA_INST_DATA AS OPDID
	<where>
		<if test="dataInstId != null and dataInstId != ''">
			OPDID.DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
		</if>
	</where>
  </select>
  
  <delete id="deleteBatchByDataInstDataIds" >
  	DELETE FROM OAAS_PRIV_DATA_INST_DATA
  	WHERE DATA_INST_DATA_ID IN
  	<foreach close=")" collection="array" index="index" item="dataInstDataId" open="(" separator=",">
               #{dataInstDataId,jdbcType=DECIMAL}         
    </foreach>
  </delete>
  
  <insert id="insertBatchDataInstData" parameterType="java.util.List">
  	INSERT INTO OAAS_PRIV_DATA_INST_DATA (
    <include refid="Base_Column_List" /> 
    ) VALUES
     <foreach collection="list" item="item" index="index" separator="," >
      ( 
      #{item.dataInstDataId,jdbcType=DECIMAL}, 
      #{item.dataInstId,jdbcType=DECIMAL}, 
      #{item.dataDataId,jdbcType=DECIMAL}, 
      #{item.sourceId,jdbcType=DECIMAL},
      #{item.sourceName,jdbcType=VARCHAR}
       )
    </foreach>
  </insert>
  
   <delete id="deleteByDataInstId" >
  	DELETE FROM OAAS_PRIV_DATA_INST_DATA
  	WHERE DATA_INST_ID =  #{dataInstId,jdbcType=DECIMAL}
  </delete>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM OAAS_PRIV_DATA_INST_DATA
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY DATA_INST_DATA_ID DESC
        </if>
    </select>
</mapper>