<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.PrivateDataInstMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.PrivateDataInst">
    <id column="DATA_INST_ID" jdbcType="DECIMAL" property="dataInstId" />
    <result column="DATA_ID" jdbcType="DECIMAL" property="dataId" />
    <result column="DATA_INST_NAME" jdbcType="VARCHAR" property="dataInstName" />
    
    <result column="DATA_NAME" jdbcType="VARCHAR" property="dataName"  />
    <result column="DATA_CODE" jdbcType="VARCHAR" property="dataCode"  />
    <result column="SCOPE_TYPE_NAME" jdbcType="VARCHAR" property="scopeTypeName"  />
    <result column="DATA_URL" jdbcType="VARCHAR" property="dataURL"  />
  </resultMap>
  <sql id="Base_Column_List">
    DATA_INST_ID, DATA_ID, DATA_INST_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_PRIV_DATA_INST
    where DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_PRIV_DATA_INST
    where DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.PrivateDataInst">
    insert into OAAS_PRIV_DATA_INST (DATA_INST_ID, DATA_ID, DATA_INST_NAME
      )
    values (#{dataInstId,jdbcType=DECIMAL}, #{dataId,jdbcType=DECIMAL}, #{dataInstName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.PrivateDataInst">
    insert into OAAS_PRIV_DATA_INST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataInstId != null">
        DATA_INST_ID,
      </if>
      <if test="dataId != null">
        DATA_ID,
      </if>
      <if test="dataInstName != null">
        DATA_INST_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataInstId != null">
        #{dataInstId,jdbcType=DECIMAL},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=DECIMAL},
      </if>
      <if test="dataInstName != null">
        #{dataInstName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.PrivateDataInst">
    update OAAS_PRIV_DATA_INST
    <set>
      <if test="dataId != null">
        DATA_ID = #{dataId,jdbcType=DECIMAL},
      </if>
      <if test="dataInstName != null">
        DATA_INST_NAME = #{dataInstName,jdbcType=VARCHAR},
      </if>
    </set>
    where DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.PrivateDataInst">
    update OAAS_PRIV_DATA_INST
    set DATA_ID = #{dataId,jdbcType=DECIMAL},
      DATA_INST_NAME = #{dataInstName,jdbcType=VARCHAR}
    where DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPrivateDataInstList" parameterType="com.basic.oaas.bean.PrivateDataInstIbean" resultMap="BaseResultMap">
  	SELECT 
  		OPDI.DATA_INST_ID, OPDI.DATA_ID, OPDI.DATA_INST_NAME,
  		OPD.DATA_NAME,OPD.DATA_CODE,OPDST.SCOPE_TYPE_NAME,OPDST.DATA_URL
  	FROM OAAS_PRIV_DATA_INST OPDI
  	LEFT JOIN OAAS_PRIV_DATA AS OPD ON OPD.DATA_ID = OPDI.DATA_ID
	LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPD.SCOPE_TYPE = OPDST.SCOPE_TYPE
	<if test="userId != null and userId != ''">
	INNER JOIN OAAS_USER_DATA_INST OUDI ON OUDI.DATA_INST_ID =OPDI.DATA_INST_ID
	</if>
  	<where>
  		<if test="dataId != null and dataId != ''">
  			OPDI.DATA_ID = #{dataId,jdbcType=DECIMAL}
  		</if>
  		<if test="userId != null and userId != ''">
			OUDI.USER_ID =#{userId,jdbcType=DECIMAL}
		</if>
  	</where>
  	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  <select id="selectPrivateDataInstListCount" parameterType="com.basic.oaas.bean.PrivateDataInstIbean" resultType="java.lang.Long">
  	SELECT 
  	COUNT(1)
  	FROM OAAS_PRIV_DATA_INST
  	<where>
  		<if test="dataId != null and  dataId != ''">
  			DATA_ID = #{dataId,jdbcType=DECIMAL}
  		</if>
  	</where>
  </select>
  
  <delete id="deleteBatchByDataInstIds">
  	DELETE FROM OAAS_PRIV_DATA_INST
  	WHERE DATA_INST_ID IN
  	<foreach close=")" collection="array" index="index" item="instId" open="(" separator=",">
               #{instId,jdbcType=DECIMAL}         
    </foreach>
  </delete>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT 
	  		OPDI.*,
	  		OPD.DATA_NAME,OPD.DATA_CODE,OPDST.SCOPE_TYPE_NAME,OPDST.DATA_URL
	  	FROM OAAS_PRIV_DATA_INST OPDI
	  	LEFT JOIN OAAS_PRIV_DATA AS OPD ON OPD.DATA_ID = OPDI.DATA_ID
		LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPD.SCOPE_TYPE = OPDST.SCOPE_TYPE
        <where>
        	OPD.STATE = '10A'	
            <if test="whereSql!=null">
                AND ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY OPDI.DATA_INST_ID DESC
        </if>
    </select>
</mapper>