<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.PrivateDataMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.PrivateData">
    <id column="DATA_ID" jdbcType="DECIMAL" property="dataId" />
    <result column="SCOPE_TYPE" jdbcType="VARCHAR" property="scopeType" />
    <result column="DATA_CODE" jdbcType="VARCHAR" property="dataCode" />
    <result column="DATA_NAME" jdbcType="VARCHAR" property="dataName" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATE_USER_ID" jdbcType="DECIMAL" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER_ID" jdbcType="DECIMAL" property="modifyUserId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="MODIFYUSERNAME" jdbcType="VARCHAR" property="modifyUserName" />
    
    <result column="DATA_URL" jdbcType="VARCHAR" property="dataURL"/>
    <result column="SCOPE_TYPE_NAME" jdbcType="VARCHAR" property="scopeTypeName"/>
    
    <result column="DATA_GRP_INST_ID" jdbcType="DECIMAL" property="dataGroupInstId"/>
    <result column="DATA_INST_ID" jdbcType="DECIMAL" property="dataInstId"/>
    
    <result column="DATA_SOURCE" jdbcType="DECIMAL" property="dataSource"/>
    
  </resultMap>
  <sql id="Base_Column_List">
    DATA_ID, SCOPE_TYPE, DATA_CODE, DATA_NAME, STATE, CREATE_USER_ID, CREATE_TIME, MODIFY_USER_ID, 
    MODIFY_TIME, REMARKS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    PD.*,
    OPDST.SCOPE_TYPE_NAME,OPDST.DATA_URL,
    OU1.USER_TEXT 'createUserName',OU2.USER_TEXT 'modifyUserName' 
    FROM OAAS_PRIV_DATA AS PD
    LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST  ON  OPDST.SCOPE_TYPE = PD.SCOPE_TYPE
    LEFT JOIN OAAS_USER OU1  ON  OU1.USER_ID = PD.CREATE_USER_ID
	LEFT JOIN OAAS_USER OU2  ON  OU2.USER_ID = PD.MODIFY_USER_ID
    where PD.DATA_ID = #{dataId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_PRIV_DATA
    where DATA_ID = #{dataId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.PrivateData">
    insert into OAAS_PRIV_DATA (DATA_ID, SCOPE_TYPE, DATA_CODE, 
      DATA_NAME, STATE, CREATE_USER_ID, 
      CREATE_TIME, MODIFY_USER_ID, MODIFY_TIME, 
      REMARKS)
    values (#{dataId,jdbcType=DECIMAL}, #{scopeType,jdbcType=VARCHAR}, #{dataCode,jdbcType=VARCHAR}, 
      #{dataName,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createUserId,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=DECIMAL}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.PrivateData">
    insert into OAAS_PRIV_DATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        DATA_ID,
      </if>
      <if test="scopeType != null">
        SCOPE_TYPE,
      </if>
      <if test="dataCode != null">
        DATA_CODE,
      </if>
      <if test="dataName != null">
        DATA_NAME,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataId != null">
        #{dataId,jdbcType=DECIMAL},
      </if>
      <if test="scopeType != null">
        #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="dataCode != null">
        #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="dataName != null">
        #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.PrivateData">
    update OAAS_PRIV_DATA
    <set>
      <if test="scopeType != null">
        SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="dataCode != null">
        DATA_CODE = #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="dataName != null">
        DATA_NAME = #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where DATA_ID = #{dataId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.PrivateData">
    update OAAS_PRIV_DATA
    set SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR},
      DATA_CODE = #{dataCode,jdbcType=VARCHAR},
      DATA_NAME = #{dataName,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where DATA_ID = #{dataId,jdbcType=DECIMAL}
  </update>
  <select id="selectPrivateDataList" resultMap="BaseResultMap" parameterType="com.basic.oaas.bean.PrivateDataIbean">
  	SELECT
		OPD.DATA_ID,OPD.SCOPE_TYPE,OPD.DATA_CODE,
		OPD.DATA_NAME,OPD.STATE,OPD.CREATE_USER_ID,
		OPD.CREATE_TIME,OPD.MODIFY_USER_ID,OPD.MODIFY_TIME,
		OPD.REMARKS,OU1.USER_TEXT AS CREATEUSERNAME,OU2.USER_TEXT AS MODIFYUSERNAME,
		OPDST.SCOPE_TYPE_NAME,OPDST.DATA_URL
		<if test ="dataGroupId != null and dataGroupId !=''">
			,OPDI.DATA_INST_ID
			,OPDGI.DATA_GRP_INST_ID
		</if>
	FROM
	OAAS_PRIV_DATA AS OPD
  	LEFT JOIN OAAS_USER OU1  ON  OU1.USER_ID = OPD.CREATE_USER_ID
	LEFT JOIN OAAS_USER OU2  ON  OU2.USER_ID = OPD.MODIFY_USER_ID
	LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST  ON  OPDST.SCOPE_TYPE = OPD.SCOPE_TYPE
	<if test ="dataGroupId != null and dataGroupId !=''">
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = OPD.DATA_ID
	INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_INST_ID = OPDI.DATA_INST_ID
	</if>
	<where>
		 OPD.STATE = '10A'
		<if test="dataCode != null and dataCode !=''">
			AND INSTR(OPD.DATA_CODE,#{dataCode,jdbcType=VARCHAR}) >0
		</if>
		<if test ="dataGroupId != null and dataGroupId !=''">
			AND OPDGI.DATA_GROUP_ID = #{dataGroupId,jdbcType=VARCHAR}
		</if>
	</where>
	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
 
 <select id="selectPrivateDataListCount" resultType="java.lang.Long" parameterType="com.basic.oaas.bean.PrivateDataIbean">
  	SELECT
		COUNT(1)
	FROM
	OAAS_PRIV_DATA AS OPD
	<if test ="dataGroupId != null and dataGroupId !=''">
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = OPD.DATA_ID
	INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_INST_ID = OPDI.DATA_INST_ID
	</if>
	<where>
		 OPD.STATE = '10A'
		<if test="dataCode != null and dataCode !=''">
			AND INSTR(OPD.DATA_CODE,#{dataCode,jdbcType=VARCHAR}) >0
		</if>
		<if test ="dataGroupId != null and dataGroupId !=''">
			AND OPDGI.DATA_GROUP_ID = #{dataGroupId,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <update id="updateBatchByDataIds">
  	UPDATE OAAS_PRIV_DATA SET STATE = '10X' 
  	WHERE DATA_ID IN
  	<foreach collection="array" item="dataId" index="index"
            open="(" close=")" separator=",">
               #{dataId,jdbcType=DECIMAL}         
    </foreach>
  </update>
  
  <select id="selectPrivateDataByUserList" resultMap="BaseResultMap" parameterType="com.basic.oaas.bean.PrivateDataIbean">
  	SELECT *  FROM (SELECT
		OPD.DATA_ID,OPD.DATA_CODE,OPD.DATA_NAME,
		OPD.MODIFY_USER_ID,OPD.MODIFY_TIME,OPD.REMARKS,
		OPD.SCOPE_TYPE,OPD.STATE,OPD.CREATE_TIME,
		OPD.CREATE_USER_ID,OPDST.SCOPE_TYPE_NAME,'分组' AS DATA_SOURCE,
		OUDG.USER_ID AS USER_ID,OPDI.DATA_INST_ID
	FROM
	OAAS_PRIV_DATA AS OPD
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = OPD.DATA_ID
	INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_INST_ID = OPDI.DATA_INST_ID
	INNER JOIN OAAS_USER_DATA_GRP AS OUDG ON OUDG.DATA_GROUP_ID = OPDGI.DATA_GROUP_ID
	INNER JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPD.SCOPE_TYPE
	
	UNION ALL
	
	SELECT
		OPD.DATA_ID,OPD.DATA_CODE,OPD.DATA_NAME,
		OPD.MODIFY_USER_ID,OPD.MODIFY_TIME,OPD.REMARKS,
		OPD.SCOPE_TYPE,OPD.STATE,OPD.CREATE_TIME,
		OPD.CREATE_USER_ID,OPDST.SCOPE_TYPE_NAME,
		'单独赋权' AS DATA_SOURCE,OUDI.USER_ID AS USER_ID,OPDI.DATA_INST_ID
	FROM
	OAAS_PRIV_DATA AS OPD
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = OPD.DATA_ID
	INNER JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPD.SCOPE_TYPE
	INNER JOIN OAAS_USER_DATA_INST AS OUDI ON OUDI.DATA_INST_ID = OPDI.DATA_INST_ID
	) A
	<where>
		<if test="userId != null and userId !=''">
			A.USER_ID = #{userId,jdbcType=DECIMAL}
		</if>
	</where>
	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  
  <select id="selectPrivateDataByUserListCount" resultType="java.lang.Long" parameterType="com.basic.oaas.bean.PrivateDataIbean">
  	SELECT COUNT(1)  FROM (SELECT
		OPD.DATA_ID,OPD.DATA_CODE,OPD.DATA_NAME,
		OPD.MODIFY_USER_ID,OPD.MODIFY_TIME,OPD.REMARKS,
		OPD.SCOPE_TYPE,OPD.STATE,OPD.CREATE_TIME,
		OPD.CREATE_USER_ID,OPDST.SCOPE_TYPE_NAME,'分组' AS DATA_SOURCE,
		OUDG.USER_ID AS USER_ID
	FROM
	OAAS_PRIV_DATA AS OPD
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = OPD.DATA_ID
	INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_INST_ID = OPDI.DATA_INST_ID
	INNER JOIN OAAS_USER_DATA_GRP AS OUDG ON OUDG.DATA_GROUP_ID = OPDGI.DATA_GROUP_ID
	INNER JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPD.SCOPE_TYPE
	
	UNION ALL
	
	SELECT
		OPD.DATA_ID,OPD.DATA_CODE,OPD.DATA_NAME,
		OPD.MODIFY_USER_ID,OPD.MODIFY_TIME,OPD.REMARKS,
		OPD.SCOPE_TYPE,OPD.STATE,OPD.CREATE_TIME,
		OPD.CREATE_USER_ID,OPDST.SCOPE_TYPE_NAME,
		'单独赋权' AS DATA_SOURCE,OUDI.USER_ID AS USER_ID
	FROM
	OAAS_PRIV_DATA AS OPD
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = OPD.DATA_ID
	INNER JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPD.SCOPE_TYPE
	INNER JOIN OAAS_USER_DATA_INST AS OUDI ON OUDI.DATA_INST_ID = OPDI.DATA_INST_ID
	) A
	<where>
		<if test="userId != null and userId !=''">
			A.USER_ID = #{userId,jdbcType=DECIMAL}
		</if>
	</where>
  </select>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT PD.*,
        OPDST.SCOPE_TYPE_NAME,OPDST.DATA_URL,
        <if test ="dataGroupId != null and dataGroupId !=''">
			OPDI.DATA_INST_ID,
			OPDGI.DATA_GRP_INST_ID,
		</if>
        OU1.USER_TEXT 'createUserName',OU2.USER_TEXT 'modifyUserName' 
        FROM OAAS_PRIV_DATA PD
        LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST  ON  OPDST.SCOPE_TYPE = PD.SCOPE_TYPE
        LEFT JOIN OAAS_USER OU1  ON  OU1.USER_ID = PD.CREATE_USER_ID
		LEFT JOIN OAAS_USER OU2  ON  OU2.USER_ID = PD.MODIFY_USER_ID
		<if test ="dataGroupId != null and dataGroupId !=''">
		INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_ID = PD.DATA_ID
		INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_INST_ID = OPDI.DATA_INST_ID
		</if>
        <where>
            PD.state = '10A'
            <if test="whereSql!=null">
                AND ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY PD.DATA_ID DESC
        </if>
   </select>
</mapper>