<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.PrivateMenuCatalogMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.PrivateMenuCatalog">
    <id column="CATALOG_ID" jdbcType="DECIMAL" property="catalogId" />
    <result column="CATALOG_NAME" jdbcType="VARCHAR" property="catalogName" />
    <result column="PARENT_CATALOG_ID" jdbcType="DECIMAL" property="parentCatalogId" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="ID_PATH" jdbcType="VARCHAR" property="idPath" />
    <result column="CREATE_USER_ID" jdbcType="DECIMAL" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER_ID" jdbcType="DECIMAL" property="modifyUserId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    
    <result column="CATALOG_ID" jdbcType="DECIMAL" property="id" />
    <result column="CATALOG_NAME" jdbcType="VARCHAR" property="name" />
    <result column="PARENT_CATALOG_ID" jdbcType="DECIMAL" property="pId" />
    
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="MODIFYUSERNAME" jdbcType="VARCHAR" property="modifyUserName" />
    
    <result column="DISPLAY_INDEX" jdbcType="DECIMAL" property="displayIndex" />
    
    <result column="CATALOG_URL" jdbcType="VARCHAR" property="catalogUrl" />
    <result column="IMG_URL" jdbcType="VARCHAR" property="imgUrl" />
    
  </resultMap>
  <sql id="Base_Column_List">
    CATALOG_ID, CATALOG_NAME, PARENT_CATALOG_ID, STATE, ID_PATH, CREATE_USER_ID, CREATE_TIME, 
    MODIFY_USER_ID, MODIFY_TIME,DISPLAY_INDEX,CATALOG_URL,IMG_URL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_PRIV_MENU_CATALOG
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_PRIV_MENU_CATALOG
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.basic.oaas.model.PrivateMenuCatalog">
    insert into OAAS_PRIV_MENU_CATALOG (CATALOG_ID, CATALOG_NAME, PARENT_CATALOG_ID, 
      STATE, ID_PATH, CREATE_USER_ID, 
      CREATE_TIME, MODIFY_USER_ID, MODIFY_TIME,CATALOG_URL,IMG_URL
      )
    values (#{catalogId,jdbcType=DECIMAL}, #{catalogName,jdbcType=VARCHAR}, #{parentCatalogId,jdbcType=DECIMAL}, 
      #{state,jdbcType=VARCHAR}, #{idPath,jdbcType=VARCHAR}, #{createUserId,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=DECIMAL}, #{modifyTime,jdbcType=TIMESTAMP},#{catalogUrl,jdbcType=VARCHAR},#{imgUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.PrivateMenuCatalog">
    insert into OAAS_PRIV_MENU_CATALOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catalogId != null">
        CATALOG_ID,
      </if>
      <if test="catalogName != null">
        CATALOG_NAME,
      </if>
      <if test="parentCatalogId != null">
        PARENT_CATALOG_ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="idPath != null">
        ID_PATH,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
       <if test="displayIndex != null">
      	DISPLAY_INDEX,
      </if>
        <if test="catalogUrl != null">
      	CATALOG_URL,
      </if>
      <if test="imgUrl != null">
      	IMG_URL,
      </if>
      
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catalogId != null">
        #{catalogId,jdbcType=DECIMAL},
      </if>
      <if test="catalogName != null">
        #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="parentCatalogId != null">
        #{parentCatalogId,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="idPath != null">
        #{idPath,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="displayIndex != null">
      	 #{displayIndex,jdbcType=DECIMAL},
      </if>
       <if test="catalogUrl != null">
      	 #{catalogUrl,jdbcType=VARCHAR},
      </if>
         <if test="imgUrl != null">
      	 #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.PrivateMenuCatalog">
    update OAAS_PRIV_MENU_CATALOG
    <set>
      <if test="catalogName != null">
        CATALOG_NAME = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="parentCatalogId != null">
        PARENT_CATALOG_ID = #{parentCatalogId,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="idPath != null">
        ID_PATH = #{idPath,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="displayIndex != null">
      	DISPLAY_INDEX = #{displayIndex,jdbcType=DECIMAL},
      </if>
      <if test="catalogUrl != null">
      	CATALOG_URL = #{catalogUrl,jdbcType=VARCHAR},
      </if>
         <if test="imgUrl != null">
      	IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.PrivateMenuCatalog">
    update OAAS_PRIV_MENU_CATALOG
    set CATALOG_NAME = #{catalogName,jdbcType=VARCHAR},
      PARENT_CATALOG_ID = #{parentCatalogId,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=VARCHAR},
      ID_PATH = #{idPath,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      DISPLAY_INDEX = #{displayIndex,jdbcType=DECIMAL},
      CATALOG_URL = #{catalogUrl,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR}
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectSubByParentCatalogId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT
		OPMC.CATALOG_ID,OPMC.CATALOG_NAME,OPMC.PARENT_CATALOG_ID,
		OPMC.STATE,OPMC.ID_PATH,OPMC.CREATE_USER_ID,
		OPMC.CREATE_TIME,OPMC.MODIFY_USER_ID,OPMC.MODIFY_TIME,OPMC.DISPLAY_INDEX,OPMC.CATALOG_URL,OPMC.IMG_URL,
		OU1.USER_TEXT AS CREATEUSERNAME,OU2.USER_TEXT AS MODIFYUSERNAME
	FROM
	OAAS_PRIV_MENU_CATALOG AS OPMC
	LEFT JOIN OAAS_USER OU1  ON  OU1.USER_ID = OPMC.CREATE_USER_ID
	LEFT JOIN OAAS_USER OU2  ON  OU2.USER_ID = OPMC.MODIFY_USER_ID 
	WHERE OPMC.STATE = '10A' AND 
  	OPMC.PARENT_CATALOG_ID  = #{parentCatalogId,jdbcType=DECIMAL}
  	ORDER BY OPMC.DISPLAY_INDEX
  </select>
  
  <select id="selectExistSubMenuCatalog" resultType="java.lang.Integer" parameterType="java.lang.Long">
  	SELECT
		COUNT(1)
	FROM
	OAAS_PRIV_MENU_CATALOG AS OPMC
	WHERE OPMC.STATE = '10A' AND 
  	OPMC.PARENT_CATALOG_ID  = #{parentCatalogId,jdbcType=DECIMAL}; 
  </select>
  
  <update id="updateAllStateById">
		UPDATE OAAS_PRIV_MENU_CATALOG SET STATE = '10X' WHERE FIND_IN_SET(#{catalogId,jdbcType=VARCHAR},ID_PATH)>0
  </update>
  
  <select id="selectAllCatalog" resultMap="BaseResultMap">
  	SELECT
		<include refid="Base_Column_List" />
	FROM
	OAAS_PRIV_MENU_CATALOG 
	WHERE STATE = '10A'
	ORDER BY DISPLAY_INDEX
  </select>
</mapper>