<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.PrivateDataGroupMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.PrivateDataGroup">
    <id column="DATA_GROUP_ID" jdbcType="DECIMAL" property="dataGroupId" />
    <result column="DATA_GROUP_NAME" jdbcType="VARCHAR" property="dataGroupName" />
    <result column="DATA_GROUP_CODE" jdbcType="VARCHAR" property="dataGroupCode" />
  </resultMap>
  <sql id="Base_Column_List">
    DATA_GROUP_ID, DATA_GROUP_NAME, DATA_GROUP_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_PRIV_DATA_GROUP
    where DATA_GROUP_ID = #{dataGroupId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_PRIV_DATA_GROUP
    where DATA_GROUP_ID = #{dataGroupId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.PrivateDataGroup">
    insert into OAAS_PRIV_DATA_GROUP (DATA_GROUP_ID, DATA_GROUP_NAME, DATA_GROUP_CODE
      )
    values (#{dataGroupId,jdbcType=DECIMAL}, #{dataGroupName,jdbcType=VARCHAR}, #{dataGroupCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.PrivateDataGroup">
    insert into OAAS_PRIV_DATA_GROUP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataGroupId != null">
        DATA_GROUP_ID,
      </if>
      <if test="dataGroupName != null">
        DATA_GROUP_NAME,
      </if>
      <if test="dataGroupCode != null">
        DATA_GROUP_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataGroupId != null">
        #{dataGroupId,jdbcType=DECIMAL},
      </if>
      <if test="dataGroupName != null">
        #{dataGroupName,jdbcType=VARCHAR},
      </if>
      <if test="dataGroupCode != null">
        #{dataGroupCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.PrivateDataGroup">
    update OAAS_PRIV_DATA_GROUP
    <set>
      <if test="dataGroupName != null">
        DATA_GROUP_NAME = #{dataGroupName,jdbcType=VARCHAR},
      </if>
      <if test="dataGroupCode != null">
        DATA_GROUP_CODE = #{dataGroupCode,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE DATA_GROUP_ID = #{dataGroupId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.PrivateDataGroup">
    update OAAS_PRIV_DATA_GROUP
    set DATA_GROUP_NAME = #{dataGroupName,jdbcType=VARCHAR},
      DATA_GROUP_CODE = #{dataGroupCode,jdbcType=VARCHAR}
    where DATA_GROUP_ID = #{dataGroupId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPrivateDataGroupList" resultMap="BaseResultMap" parameterType="com.basic.oaas.bean.PrivateDataGroupIbean">
  	SELECT
		OPDG.DATA_GROUP_ID,OPDG.DATA_GROUP_NAME,OPDG.DATA_GROUP_CODE
	FROM
	OAAS_PRIV_DATA_GROUP AS OPDG
	<if test="userId != null and userId != ''">
	INNER JOIN OAAS_USER_DATA_GRP AS OUDG  ON OUDG.DATA_GROUP_ID =OPDG.DATA_GROUP_ID
	</if>
  	<where>
  		<if test="userId != null and userId != ''">
			OUDG.USER_ID = #{userId,jdbcType=DECIMAL}
		</if>
  	</where>
  	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  
  <select id="selectPrivateDataGroupListCount" resultType="java.lang.Long" parameterType="com.basic.oaas.bean.PrivateDataGroupIbean">
  	SELECT
		COUNT(1)
	FROM
	OAAS_PRIV_DATA_GROUP AS OPDG
	<if test="userId != null and userId != ''">
	INNER JOIN OAAS_USER_DATA_GRP AS OUDG  ON OUDG.DATA_GROUP_ID =OPDG.DATA_GROUP_ID
	</if>
  	<where>
  		<if test="userId != null and userId != ''">
			OUDG.USER_ID = #{userId,jdbcType=DECIMAL}
		</if>
  	</where>
  </select>
  
  <delete id="deleteBatchByDataGroupIds">
  	DELETE FROM OAAS_PRIV_DATA_GROUP
    WHERE DATA_GROUP_ID IN
		<foreach collection="array" item="dataGroupId" index="index"
            open="(" close=")" separator=",">
               #{dataGroupId,jdbcType=DECIMAL}         
        </foreach> 
  </delete>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
		OPDG.DATA_GROUP_ID,OPDG.DATA_GROUP_NAME,OPDG.DATA_GROUP_CODE
		FROM
		OAAS_PRIV_DATA_GROUP AS OPDG
		<if test="userId != null and userId != ''">
			INNER JOIN OAAS_USER_DATA_GRP AS OUDG  ON OUDG.DATA_GROUP_ID =OPDG.DATA_GROUP_ID
		</if>
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY DATA_GROUP_ID DESC
        </if>
    </select>
</mapper>