<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.PrivateDataDataMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.PrivateDataData">
    <id column="DATA_DATA_ID" jdbcType="DECIMAL" property="dataDataId" />
    <result column="DATA_DATA_CODE" jdbcType="VARCHAR" property="dataDataCode" />
    <result column="DATA_DATA_NAME" jdbcType="VARCHAR" property="dataDataName" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="SCOPE_TYPE" jdbcType="VARCHAR" property="scopeType" />
    <result column="SOURCE_TYPE" jdbcType="VARCHAR" property="sourceType" />
    <result column="SOURCE_ID" jdbcType="DECIMAL" property="sourceId" />
    
    <result column="SCOPE_TYPE_NAME" jdbcType="VARCHAR" property="scopeTypeName"/>
     	
  </resultMap>
  <sql id="Base_Column_List">
    DATA_DATA_ID, DATA_DATA_CODE, DATA_DATA_NAME, PARENT_ID, SCOPE_TYPE, SOURCE_TYPE, 
    SOURCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_PRIV_DATA_DATA
    where DATA_DATA_ID = #{dataDataId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_PRIV_DATA_DATA
    where DATA_DATA_ID = #{dataDataId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.PrivateDataData">
    insert into OAAS_PRIV_DATA_DATA (DATA_DATA_ID, DATA_DATA_CODE, DATA_DATA_NAME, 
      PARENT_ID, SCOPE_TYPE, SOURCE_TYPE, 
      SOURCE_ID)
    values (#{dataDataId,jdbcType=DECIMAL}, #{dataDataCode,jdbcType=VARCHAR}, #{dataDataName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=DECIMAL}, #{scopeType,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, 
      #{sourceId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.PrivateDataData">
    insert into OAAS_PRIV_DATA_DATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataDataId != null">
        DATA_DATA_ID,
      </if>
      <if test="dataDataCode != null">
        DATA_DATA_CODE,
      </if>
      <if test="dataDataName != null">
        DATA_DATA_NAME,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="scopeType != null">
        SCOPE_TYPE,
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE,
      </if>
      <if test="sourceId != null">
        SOURCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataDataId != null">
        #{dataDataId,jdbcType=DECIMAL},
      </if>
      <if test="dataDataCode != null">
        #{dataDataCode,jdbcType=VARCHAR},
      </if>
      <if test="dataDataName != null">
        #{dataDataName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="scopeType != null">
        #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.PrivateDataData">
    update OAAS_PRIV_DATA_DATA
    <set>
      <if test="dataDataCode != null">
        DATA_DATA_CODE = #{dataDataCode,jdbcType=VARCHAR},
      </if>
      <if test="dataDataName != null">
        DATA_DATA_NAME = #{dataDataName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="scopeType != null">
        SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        SOURCE_ID = #{sourceId,jdbcType=DECIMAL},
      </if>
    </set>
    where DATA_DATA_ID = #{dataDataId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.PrivateDataData">
    update OAAS_PRIV_DATA_DATA
    set DATA_DATA_CODE = #{dataDataCode,jdbcType=VARCHAR},
        DATA_DATA_NAME = #{dataDataName,jdbcType=VARCHAR},
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
        SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR},
        SOURCE_TYPE = #{sourceType,jdbcType=VARCHAR},
        SOURCE_ID = #{sourceId,jdbcType=DECIMAL}
    where DATA_DATA_ID = #{dataDataId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectPrivateDataDataList" parameterType="com.basic.oaas.bean.PrivateDataDataIbean" resultMap="BaseResultMap">
  	SELECT
		OPDD.DATA_DATA_ID,OPDD.DATA_DATA_CODE,OPDD.DATA_DATA_NAME,
		OPDD.PARENT_ID,OPDD.SCOPE_TYPE,OPDD.SOURCE_TYPE,OPDD.SOURCE_ID,
		OPDST.SCOPE_TYPE_NAME
	FROM
	OAAS_PRIV_DATA_DATA AS OPDD
	LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPDD.SCOPE_TYPE
	<where>
		<if test="scopeType != null and scopeType != ''">
			OPDST.SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
		</if>
	</where>
	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  
   <select id="selectPrivateDataDataListCount" parameterType="com.basic.oaas.bean.PrivateDataDataIbean" resultType="java.lang.Long">
  	SELECT
		COUNT(1)
	FROM
	OAAS_PRIV_DATA_DATA AS OPDD
	LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPDD.SCOPE_TYPE
	<where>
		<if test="scopeType != null and scopeType != ''">
			OPDST.SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT DD.*,OPDST.SCOPE_TYPE_NAME 
        FROM OAAS_PRIV_DATA_DATA DD
        LEFT JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST  ON  OPDST.SCOPE_TYPE = DD.SCOPE_TYPE
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY DD.DATA_DATA_ID DESC
        </if>
    </select>
    
    <delete id="deleteBySource" parameterType="java.util.Map">
	    delete from OAAS_PRIV_DATA_DATA
	    where SOURCE_ID = #{sourceId} AND SCOPE_TYPE = #{scopeType}
  	</delete>
  	
    <select id="getBySource" parameterType="java.util.Map" resultMap="BaseResultMap">
	    select * from OAAS_PRIV_DATA_DATA
	    where SOURCE_ID = #{sourceId} AND SCOPE_TYPE = #{scopeType}
  	</select>
    
</mapper>