<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.RoleCatalogMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.RoleCatalog">
    <id column="CATALOG_ID" jdbcType="DECIMAL" property="catalogId" />
    <result column="CATALOG_NAME" jdbcType="VARCHAR" property="catalogName" />
    <result column="PARENT_CATALOG_ID" jdbcType="DECIMAL" property="parentCatalogId" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="ID_PATH" jdbcType="VARCHAR" property="idPath" />
    <result column="CREATE_USER_ID" jdbcType="DECIMAL" property="createUserId" />
    <result column="MODIFY_USER_ID" jdbcType="DECIMAL" property="modifyUserId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="MODIFYUSERNAME" jdbcType="VARCHAR" property="modifyUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    CATALOG_ID, CATALOG_NAME, PARENT_CATALOG_ID, STATE, ID_PATH, CREATE_USER_ID, MODIFY_USER_ID, 
    MODIFY_TIME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_ROLE_CATALOG
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_ROLE_CATALOG
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.RoleCatalog">
    insert into OAAS_ROLE_CATALOG (CATALOG_ID, CATALOG_NAME, PARENT_CATALOG_ID, 
      STATE, ID_PATH, CREATE_USER_ID, 
      MODIFY_USER_ID, MODIFY_TIME, CREATE_TIME
      )
    values (#{catalogId,jdbcType=DECIMAL}, #{catalogName,jdbcType=VARCHAR}, #{parentCatalogId,jdbcType=DECIMAL}, 
      #{state,jdbcType=VARCHAR}, #{idPath,jdbcType=VARCHAR}, #{createUserId,jdbcType=DECIMAL}, 
      #{modifyUserId,jdbcType=DECIMAL}, #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.RoleCatalog">
    insert into OAAS_ROLE_CATALOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catalogId != null">
        CATALOG_ID,
      </if>
      <if test="catalogName != null">
        CATALOG_NAME,
      </if>
      <if test="parentCatalogId != null">
        PARENT_CATALOG_ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="idPath != null">
        ID_PATH,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catalogId != null">
        #{catalogId,jdbcType=DECIMAL},
      </if>
      <if test="catalogName != null">
        #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="parentCatalogId != null">
        #{parentCatalogId,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="idPath != null">
        #{idPath,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.RoleCatalog">
    update OAAS_ROLE_CATALOG
    <set>
      <if test="catalogName != null">
        CATALOG_NAME = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="parentCatalogId != null">
        PARENT_CATALOG_ID = #{parentCatalogId,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="idPath != null">
        ID_PATH = #{idPath,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.RoleCatalog">
    update OAAS_ROLE_CATALOG
    set CATALOG_NAME = #{catalogName,jdbcType=VARCHAR},
        PARENT_CATALOG_ID = #{parentCatalogId,jdbcType=DECIMAL},
        STATE = #{state,jdbcType=VARCHAR},
        ID_PATH = #{idPath,jdbcType=VARCHAR},
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where CATALOG_ID = #{catalogId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectSubByParentCatalogId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT
		ORC.CATALOG_ID,ORC.CATALOG_NAME,ORC.PARENT_CATALOG_ID,
		ORC.STATE,ORC.ID_PATH,ORC.CREATE_USER_ID,ORC.MODIFY_USER_ID,
		ORC.MODIFY_TIME,ORC.CREATE_TIME,
		OU1.USER_TEXT AS CREATEUSERNAME,OU2.USER_TEXT AS MODIFYUSERNAME
	FROM
	OAAS_ROLE_CATALOG AS ORC
	LEFT JOIN OAAS_USER OU1  ON  OU1.USER_ID = ORC.CREATE_USER_ID
	LEFT JOIN OAAS_USER OU2  ON  OU2.USER_ID = ORC.MODIFY_USER_ID 
	WHERE ORC.STATE = '10A' AND 
  	ORC.PARENT_CATALOG_ID  = #{parentCatalogId,jdbcType=DECIMAL}; 	
  </select>
  
  <select id="selectExistSubRoleCatalog" resultType="java.lang.Integer" parameterType="java.lang.Long">
  	SELECT
		COUNT(1)
	FROM
	OAAS_ROLE_CATALOG AS ORC
	WHERE ORC.STATE = '10A' AND 
  	ORC.PARENT_CATALOG_ID  = #{parentCatalogId,jdbcType=DECIMAL}; 
  </select>
  
  <update id="updateAllStateById">
		UPDATE OAAS_ROLE_CATALOG SET STATE = '10X' WHERE FIND_IN_SET(#{catalogId,jdbcType=VARCHAR},ID_PATH)>0
  </update>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT CL.*,
        (CASE (SELECT COUNT(1) FROM OAAS_ROLE_CATALOG WHERE PARENT_CATALOG_ID = CL.CATALOG_ID) WHEN 0 THEN FALSE ELSE TRUE END) 'isParent' 
        FROM OAAS_ROLE_CATALOG CL
        <where>
            CL.state = '10A'
            <if test="whereSql!=null">
                AND ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY CL.CATALOG_ID DESC
        </if>
   </select>
</mapper>