<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.StaffMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.Staff">
    <id column="STAFF_ID" jdbcType="DECIMAL" property="staffId" />
    <result column="STAFF_ICON" jdbcType="DECIMAL" property="staffIcon" />
    <result column="STAFF_NUMBER" jdbcType="VARCHAR" property="staffNumber" />
    <result column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="SEX" jdbcType="DECIMAL" property="sex" />
    <result column="WECHAT" jdbcType="VARCHAR" property="wechat" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATE_USER_ID" jdbcType="DECIMAL" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_USER_ID" jdbcType="DECIMAL" property="modifyUserId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="EIP_ACCOUNT" jdbcType="VARCHAR" property="eipAccount" />
    <result column="AGE" jdbcType="VARCHAR" property="age" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    
    <result column="CREATEUSERNAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="MODIFYUSERNAME" jdbcType="VARCHAR" property="modifyUserName" />
    
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="JOB_ID"  jdbcType="DECIMAL" property="jobId" />
    
    <result column="EIP_ACCOUNT"  jdbcType="VARCHAR" property="eipAccount" />
    <result column="SOURCE"  jdbcType="NUMERIC" property="source" />
    <result column="POST"  jdbcType="VARCHAR" property="post" />
    <result column="AGE"  jdbcType="NUMERIC" property="age" />
    <result column="FIXED_TELEPHONE"  jdbcType="VARCHAR" property="fixedTelephone" />
    <result column="RESIDENTIAL_ADDRESS"  jdbcType="VARCHAR" property="residentialAddress" />
    <result column="PERMANENT_ADDRESS"  jdbcType="VARCHAR" property="permanentAddress" />
    <result column="SYNC_DATE" property="syncDate" jdbcType="TIMESTAMP" />
    <result column="OPEN_STATUS" property="openStatus" jdbcType="NUMERIC" />
    <result column="OPEN_DATE" property="openDate" jdbcType="TIMESTAMP" />
    <result column="STOP_DATE" property="stopDate" jdbcType="TIMESTAMP" />
    <result property="permanentCounty" column="PERMANENT_COUNTY" jdbcType="VARCHAR"/>
	<result property="permanentDistrict" column="PERMANENT_DISTRICT" jdbcType="VARCHAR"/>
	<result property="permanentCity" column="PERMANENT_CITY" jdbcType="VARCHAR"/>
	<result property="permanentProvince" column="PERMANENT_PROVINCE" jdbcType="VARCHAR"/>
	<result property="residentialCounty" column="RESIDENTIAL_COUNTY" jdbcType="VARCHAR"/>
	<result property="residentialDistrict" column="RESIDENTIAL_DISTRICT" jdbcType="VARCHAR"/>
	<result property="residentialProvince" column="RESIDENTIAL_PROVINCE" jdbcType="VARCHAR"/>
	<result property="residentialCity" column="RESIDENTIAL_CITY" jdbcType="VARCHAR"/>
	
    <result column="userId"  jdbcType="DECIMAL" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    STAFF_ID, STAFF_ICON, STAFF_NUMBER, STAFF_NAME, SEX, WECHAT, QQ, TELEPHONE, EMAIL, 
    STATE, CREATE_USER_ID, CREATE_TIME, MODIFY_USER_ID, MODIFY_TIME, REMARKS,
    EIP_ACCOUNT,AGE,POST,SOURCE,FIXED_TELEPHONE,RESIDENTIAL_ADDRESS,PERMANENT_ADDRESS,SYNC_DATE,
    OPEN_STATUS,OPEN_DATE,STOP_DATE,PERMANENT_COUNTY,PERMANENT_DISTRICT,PERMANENT_CITY,
    PERMANENT_PROVINCE,RESIDENTIAL_COUNTY,RESIDENTIAL_DISTRICT,RESIDENTIAL_PROVINCE,RESIDENTIAL_CITY
  </sql>
  <select id="selectByPrimaryKey" parameterType="Long" resultMap="BaseResultMap">
    SELECT OS.*,
    OSJ.JOB_ID
    FROM OAAS_STAFF OS
    JOIN OAAS_STAFF_JOB OSJ ON OSJ.STAFF_ID = OS.STAFF_ID
    WHERE OS.STAFF_ID = #{staffId,jdbcType=DECIMAL} 	
    AND OSJ.DEFAULT_JOB =1
	AND OS.STATE ='10A'
  </select>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
	SELECT STAFF.*,
	U.USERNAME 'userName',U.USER_TEXT 'userText',U.USER_ID 'userId',
	OJ.JOB_ID 'jobId',OJ.JOB_NAME 'jobName' FROM OAAS_STAFF STAFF 
	LEFT JOIN OAAS_STAFF_JOB OSJ ON OSJ.STAFF_ID = STAFF.STAFF_ID AND OSJ.DEFAULT_JOB = 1
	LEFT JOIN OAAS_JOB OJ ON OJ.JOB_ID = OSJ.JOB_ID AND OJ.STATE = '10A'
	LEFT JOIN OAAS_ORG ORG ON ORG.ORG_ID = OJ.ORG_ID AND ORG.STATE = '10A' 
	LEFT JOIN OAAS_USER_STAFF OUS ON OUS.STAFF_ID = STAFF.STAFF_ID
	LEFT JOIN OAAS_USER U ON U.USER_ID = OUS.USER_ID AND U.STATE = '10A'
	<where>
		STAFF.STATE ='10A' AND U.STATE='10A'
	    <if test="whereSql!=null">
	        AND ${whereSql}
	    </if>
	</where>
	<if test="orderBySql!=null">
	    ORDER BY ${orderBySql}
	</if>
	<if test="orderBySql==null">
	    ORDER BY STAFF.STAFF_ID DESC
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    UPDATE OAAS_STAFF SET STATE  = '10X'
    WHERE STAFF_ID = #{staffId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.Staff">
    INSERT INTO OAAS_STAFF (STAFF_ID, STAFF_ICON, STAFF_NUMBER, 
      STAFF_NAME, SEX, WECHAT, 
      QQ, TELEPHONE, EMAIL, 
      STATE, CREATE_USER_ID, CREATE_TIME, 
      MODIFY_USER_ID, MODIFY_TIME, REMARKS,
      EIP_ACCOUNT,AGE,POST,SOURCE,FIXED_TELEPHONE,RESIDENTIAL_ADDRESS,PERMANENT_ADDRESS,SYNC_DATE,
      OPEN_STATUS,OPEN_DATE,STOP_DATE,PERMANENT_COUNTY,PERMANENT_DISTRICT,PERMANENT_CITY,
      PERMANENT_PROVINCE,RESIDENTIAL_COUNTY,RESIDENTIAL_DISTRICT,RESIDENTIAL_PROVINCE,RESIDENTIAL_CITY
      )
    VALUES (#{staffId,jdbcType=DECIMAL}, #{staffIcon,jdbcType=DECIMAL}, #{staffNumber,jdbcType=VARCHAR}, 
      #{staffName,jdbcType=VARCHAR}, #{sex,jdbcType=DECIMAL}, #{wechat,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{createUserId,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=DECIMAL}, #{modifyTime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},
      #{eipAccount,jdbcType=VARCHAR},#{age,jdbcType=NUMERIC},#{post,jdbcType=VARCHAR},
      #{source,jdbcType=NUMERIC},#{fixedTelephone,jdbcType=NUMERIC},#{residentialAddress,jdbcType=VARCHAR},
      #{permanentAddress,jdbcType=VARCHAR},#{syncDate,jdbcType=TIMESTAMP},#{openStatus,jdbcType=NUMERIC},
      #{openDate,jdbcType=TIMESTAMP},#{stopDate,jdbcType=TIMESTAMP}, #{permanentCounty,jdbcType=VARCHAR}, 
      #{permanentDistrict,jdbcType=VARCHAR}, #{permanentCity,jdbcType=VARCHAR}, #{permanentProvince,jdbcType=VARCHAR}, 
      #{residentialCounty,jdbcType=VARCHAR}, #{residentialDistrict,jdbcType=VARCHAR}, #{residentialProvince,jdbcType=VARCHAR}, 
      #{residentialCity,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.Staff">
    INSERT INTO OAAS_STAFF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="staffIcon != null">
        STAFF_ICON,
      </if>
      <if test="staffNumber != null">
        STAFF_NUMBER,
      </if>
      <if test="staffName != null">
        STAFF_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="wechat != null">
        WECHAT,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="eipAccount != null">
        EIP_ACCOUNT,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="post != null">
        POST,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="fixedTelephone != null">
        FIXED_TELEPHONE,
      </if>
      <if test="residentialAddress != null">
        RESIDENTIAL_ADDRESS,
      </if>
      <if test="permanentAddress != null">
        PERMANENT_ADDRESS,
      </if>
      <if test="syncDate != null">
        SYNC_DATE,
      </if>
      <if test="openStatus != null">
      	OPEN_STATUS,
      </if>
      <if test="openDate != null">
      	OPEN_DATE,
      </if>
      <if test="stopDate != null">
      	STOP_DATE,
      </if>
      <if test="permanentCounty != null">
      	PERMANENT_COUNTY,
      </if>
      <if test="permanentDistrict != null">
      	PERMANENT_DISTRICT,
      </if>
      <if test="permanentCity != null">
      	PERMANENT_CITY,
      </if>
      <if test="permanentProvince != null">
      	PERMANENT_PROVINCE,
      </if>
      <if test="residentialCounty != null">
      	RESIDENTIAL_COUNTY,
      </if>
      <if test="residentialDistrict != null">
      	RESIDENTIAL_DISTRICT,
      </if>
      <if test="residentialProvince != null">
      	RESIDENTIAL_PROVINCE,
      </if>
      <if test="residentialCity != null">
      	RESIDENTIAL_CITY,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="staffIcon != null">
        #{staffIcon,jdbcType=DECIMAL},
      </if>
      <if test="staffNumber != null">
        #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=DECIMAL},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="eipAccount != null">
        #{eipAccount,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=NUMERIC},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=NUMERIC},
      </if>
      <if test="fixedTelephone != null">
        #{fixedTelephone,jdbcType=NUMERIC},
      </if>
      <if test="residentialAddress != null">
        #{residentialAddress,jdbcType=VARCHAR},
      </if>
      <if test="permanentAddress != null">
        #{permanentAddress,jdbcType=VARCHAR},
      </if>
      <if test="syncDate != null">
        #{syncDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openStatus != null">
      	 #{openStatus,jdbcType=NUMERIC},
      </if>
      <if test="openDate != null">
      	 #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopDate != null">
      	 #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="permanentCounty != null">
      	 #{permanentCounty,jdbcType=VARCHAR},
      </if>
      <if test="permanentDistrict != null">
      	 #{permanentDistrict,jdbcType=VARCHAR},
      </if>
      <if test="permanentCity != null">
      	 #{permanentCity,jdbcType=VARCHAR},
      </if>
      <if test="permanentProvince != null">
      	 #{permanentProvince,jdbcType=VARCHAR},
      </if>
      <if test="residentialCounty != null">
      	 #{residentialCounty,jdbcType=VARCHAR},
      </if>
      <if test="residentialDistrict != null">
      	 #{residentialDistrict,jdbcType=VARCHAR},
      </if>
      <if test="residentialProvince != null">
      	 #{residentialProvince,jdbcType=VARCHAR},
      </if>
      <if test="residentialCity != null">
      	 #{residentialCity,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.Staff">
    UPDATE OAAS_STAFF
    <set>
      <if test="staffIcon != null">
        STAFF_ICON = #{staffIcon,jdbcType=DECIMAL},
      </if>
      <if test="staffNumber != null">
        STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=DECIMAL},
      </if>
      <if test="wechat != null">
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null">
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="eipAccount != null">
        EIP_ACCOUNT = #{eipAccount,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        POST = #{post,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=NUMERIC},
      </if>
      <if test="fixedTelephone != null">
        FIXED_TELEPHONE = #{fixedTelephone,jdbcType=NUMERIC},
      </if>
      <if test="residentialAddress != null">
        RESIDENTIAL_ADDRESS = #{residentialAddress,jdbcType=VARCHAR},
      </if>
      <if test="permanentAddress != null">
        PERMANENT_ADDRESS = #{permanentAddress,jdbcType=VARCHAR},
      </if>
      <if test="syncDate != null">
        SYNC_DATE = #{syncDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openStatus != null">
      	 OPEN_STATUS = #{openStatus,jdbcType=NUMERIC},
      </if>
      <if test="openDate != null">
      	 OPEN_DATE = #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stopDate != null">
      	 STOP_DATE = #{stopDate,jdbcType=TIMESTAMP},
      </if>
      <if test="permanentCounty != null">
      	 PERMANENT_COUNTY = #{permanentCounty,jdbcType=VARCHAR},
      </if>
      <if test="permanentDistrict != null">
      	 PERMANENT_DISTRICT = #{permanentDistrict,jdbcType=VARCHAR},
      </if>
      <if test="permanentCity != null">
      	 PERMANENT_CITY = #{permanentCity,jdbcType=VARCHAR},
      </if>
      <if test="permanentProvince != null">
      	 PERMANENT_PROVINCE = #{permanentProvince,jdbcType=VARCHAR},
      </if>
      <if test="residentialCounty != null">
      	 RESIDENTIAL_COUNTY = #{residentialCounty,jdbcType=VARCHAR},
      </if>
      <if test="residentialDistrict != null">
      	 RESIDENTIAL_DISTRICT = #{residentialDistrict,jdbcType=VARCHAR},
      </if>
      <if test="residentialProvince != null">
      	 RESIDENTIAL_PROVINCE = #{residentialProvince,jdbcType=VARCHAR},
      </if>
      <if test="residentialCity != null">
      	 RESIDENTIAL_CITY = #{residentialCity,jdbcType=VARCHAR}
      </if>
    </set>
    WHERE STAFF_ID = #{staffId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.Staff">
    UPDATE OAAS_STAFF
    SET STAFF_ICON = #{staffIcon,jdbcType=DECIMAL},
        STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR},
        STAFF_NAME = #{staffName,jdbcType=VARCHAR},
        SEX = #{sex,jdbcType=DECIMAL},
        WECHAT = #{wechat,jdbcType=VARCHAR},
        QQ = #{qq,jdbcType=VARCHAR},
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
        EMAIL = #{email,jdbcType=VARCHAR},
        STATE = #{state,jdbcType=VARCHAR},
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL},
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
        REMARKS = #{remarks,jdbcType=VARCHAR},
        EIP_ACCOUNT = #{eipAccount,jdbcType=VARCHAR},
        AGE = #{age,jdbcType=VARCHAR},
        POST = #{post,jdbcType=VARCHAR},
        SOURCE = #{source,jdbcType=NUMERIC},
        FIXED_TELEPHONE = #{fixedTelephone,jdbcType=NUMERIC},
        RESIDENTIAL_ADDRESS = #{residentialAddress,jdbcType=VARCHAR},
        PERMANENT_ADDRESS = #{permanentAddress,jdbcType=VARCHAR},
        SYNC_DATE = #{syncDate,jdbcType=TIMESTAMP},
      	OPEN_STATUS = #{openStatus,jdbcType=NUMERIC},
      	OPEN_DATE = #{openDate,jdbcType=TIMESTAMP},
      	STOP_DATE = #{stopDate,jdbcType=TIMESTAMP},
      	PERMANENT_COUNTY = #{permanentCounty,jdbcType=VARCHAR},
      	PERMANENT_DISTRICT = #{permanentDistrict,jdbcType=VARCHAR},
      	PERMANENT_CITY = #{permanentCity,jdbcType=VARCHAR},
      	PERMANENT_PROVINCE = #{permanentProvince,jdbcType=VARCHAR},
      	RESIDENTIAL_COUNTY = #{residentialCounty,jdbcType=VARCHAR},
      	RESIDENTIAL_DISTRICT = #{residentialDistrict,jdbcType=VARCHAR},
      	RESIDENTIAL_PROVINCE = #{residentialProvince,jdbcType=VARCHAR},
      	RESIDENTIAL_CITY = #{residentialCity,jdbcType=VARCHAR}
    WHERE STAFF_ID = #{staffId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectStaffList" resultMap="BaseResultMap" parameterType="com.basic.oaas.bean.StaffIbean">
  	SELECT OS.*,OU1.USER_TEXT AS CREATEUSERNAME,
	OU2.USER_TEXT AS MODIFYUSERNAME,
	OJ.JOB_ID,OJ.JOB_NAME
  	FROM OAAS_STAFF OS
  	LEFT JOIN OAAS_USER OU1  ON  OU1.USER_ID = OS.CREATE_USER_ID
	LEFT JOIN OAAS_USER OU2  ON  OU2.USER_ID = OS.MODIFY_USER_ID
	JOIN OAAS_STAFF_JOB OSJ ON OSJ.STAFF_ID = OS.STAFF_ID
	JOIN OAAS_JOB OJ ON OJ.JOB_ID = OSJ.JOB_ID
	<where>
		 OSJ.DEFAULT_JOB =1
		 AND OS.STATE ='10A'
		<if test="staffId != null and staffId != ''">
			AND OS.STAFF_ID = #{staffId,jdbcType=DECIMAL}
		</if>
		<if test="staffName != null and staffName !=''">
			AND INSTR(OS.STAFF_NAME,#{staffName,jdbcType=VARCHAR})>0
		</if>
		<if test="staffNumber != null and staffNumber !=''">
			AND INSTR(OS.STAFF_NUMBER,#{staffNumber,jdbcType=VARCHAR}) > 0
		</if>
		<if test="orgId != null and orgId != '' and !qrySubOrg">
			AND OJ.ORG_ID = #{orgId,jdbcType=DECIMAL}
		</if>
		<if test="qrySubOrg or orgType == 'CURORG'">
			<if test="orgId != null and orgId != ''">
				AND EXISTS (SELECT 1 FROM OAAS_ORG OO 
				WHERE OO.STATE ='10A' AND  
				OO.ORG_ID = OJ.ORG_ID AND
				FIND_IN_SET(#{orgId,jdbcType=VARCHAR},OO.ID_PATH))
			</if>
		</if>
	</where>
	<if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  
  <select id="selectStaffListCount" resultType="java.lang.Long" parameterType="com.basic.oaas.bean.StaffIbean">
	SELECT
		COUNT(1) 
  	FROM OAAS_STAFF OS
	JOIN OAAS_STAFF_JOB OSJ ON OSJ.STAFF_ID = OS.STAFF_ID
	JOIN OAAS_JOB OJ ON OJ.JOB_ID = OSJ.JOB_ID
	<where>
	 	OSJ.DEFAULT_JOB =1
	 	AND OS.STATE ='10A'
		<if test="staffId != null and staffId != ''">
			AND OS.STAFF_ID = #{staffId,jdbcType=DECIMAL}
		</if>
		<if test="staffName != null and staffName !=''">
			AND INSTR(OS.STAFF_NAME,#{staffName,jdbcType=VARCHAR})>0
		</if>
		<if test="staffNumber != null and staffNumber !=''">
			AND INSTR(OS.STAFF_NUMBER,#{staffNumber,jdbcType=VARCHAR}) > 0
		</if>
		<if test="orgId != null and orgId != '' and !qrySubOrg">
			AND OJ.ORG_ID = #{orgId,jdbcType=DECIMAL}
		</if>
		<if test="qrySubOrg or orgType == 'CURORG'">
			<if test="orgId != null and orgId != ''">
				AND EXISTS (SELECT 1 FROM OAAS_ORG OO 
				WHERE OO.STATE ='10A' AND  
				OO.ORG_ID = OJ.ORG_ID AND
				FIND_IN_SET(#{orgId,jdbcType=VARCHAR},OO.ID_PATH))
			</if>
		</if>
	</where> 
  </select>
  
  <update id="updateBatchByStaffIds" >
  	UPDATE OAAS_STAFF SET STATE  = '10X'
  	WHERE STAFF_ID IN
  	<foreach collection="array" item="staffId" index="index"
            open="(" close=")" separator=",">
               #{staffId,jdbcType=DECIMAL}         
    </foreach>
  </update>
  <select id="selectExistStaffNumber" parameterType="string" resultType="java.lang.Integer">
  	SELECT COUNT(1) FROM OAAS_STAFF WHERE STATE ='10A' AND STAFF_NUMBER = #{staffNumber,jdbcType=VARCHAR}
  </select>
  
  <select id="selectStaffByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT OS.*
	FROM
	OAAS_STAFF AS OS
	INNER JOIN OAAS_USER_STAFF AS OUS ON OUS.STAFF_ID = OS.STAFF_ID
	WHERE
	OS.STATE = '10A'
	AND	OUS.USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  
  <select id="queryAccountByOrgIds" parameterType="java.util.Map" resultMap="BaseResultMap">
	SELECT STAFF.*, OJ.JOB_ID 'jobId',OJ.JOB_NAME 'jobName',
	U.USER_TEXT 'userText',U.USER_PASSWORD 'userPwd',U.USERNAME 'userName',ifnull(u.USER_ID,0) 'userId' 
	FROM OAAS_STAFF STAFF 
	LEFT JOIN OAAS_STAFF_JOB OSJ ON OSJ.STAFF_ID = STAFF.STAFF_ID
	LEFT JOIN OAAS_JOB OJ ON OJ.JOB_ID = OSJ.JOB_ID AND OJ.STATE = '10A'
	LEFT JOIN OAAS_ORG ORG ON ORG.ORG_ID = OJ.ORG_ID AND ORG.STATE = '10A' 
	LEFT JOIN OAAS_USER_STAFF OUS ON OUS.STAFF_ID = STAFF.STAFF_ID
	LEFT JOIN OAAS_USER U ON U.USER_ID = OUS.USER_ID AND U.STATE = '10A'
	<where>
		STAFF.STATE ='10A'
		AND ORG.ORG_ID IN 
		<if test="orgIds != null">
		    <foreach collection="orgIds" index="index" item="item" open="(" separator="," close=")">  
	        	#{item}  
	    	</foreach>
		</if>
	</where>
  </select>
  
  <select id="checkByStaff" resultMap="BaseResultMap" parameterType="com.basic.oaas.model.Staff" >
	SELECT 
     <include refid="Base_Column_List" />
  	FROM OAAS_STAFF
	<where> 
	  <if test="state != null">
       STATE = #{state,jdbcType=VARCHAR}
      </if>
      <if test="eipAccount != null">
       AND  EIP_ACCOUNT = #{eipAccount,jdbcType=VARCHAR}
      </if>
	</where>
</select>

 <!-- 物流系统操作员角色数据查询 -->
	<select id="queryUserByOrgIds" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT * FROM
		(
        (SELECT
        ifnull(u.USER_ID,'') 'userId' ,ifnull(U.USERNAME,'') 'userName', OUS.STAFF_ID 'staffId',OSJ.DEFAULT_JOB 'defaultJob',
        OUS.TYPE_ 'type',
        IFNULL(u.USER_TEXT,"") staffName,
        IFNULL(org.org_name,"") orgName,
        org.ORG_ID orgId,
        IFNULL(staff.REMARKS,"") remarks
        FROM
        OAAS_USER U
        LEFT JOIN OAAS_USER_STAFF OUS  ON U.USER_ID=OUS.USER_ID AND OUS.TYPE_=0
        LEFT JOIN OAAS_STAFF STAFF ON  OUS.STAFF_ID = STAFF.STAFF_ID AND STAFF.STATE='10A'
        LEFT JOIN OAAS_STAFF_JOB OSJ ON OUS.STAFF_ID=OSJ.STAFF_ID AND OSJ.DEFAULT_JOB=1
        LEFT JOIN OAAS_JOB OJ ON OJ.JOB_ID = OSJ.JOB_ID AND OJ.STATE = '10A'
        LEFT JOIN OAAS_ORG ORG ON ORG.ORG_ID = OJ.ORG_ID AND ORG.STATE = '10A'
        WHERE  U.STATE = '10A')

        UNION

        (SELECT
        ifnull(u.USER_ID, '') 'userId',
        ifnull(U.USERNAME, '') 'userName',
        -1 'staffId',
        "defaultJob" 'defaultJob',
        "type" 'type',
        IFNULL(u.USER_TEXT, "") staffName,
        "orgName" orgName,
        -1 orgId,
        IFNULL(u.REMARKS, "") remarks
        FROM
        OAAS_USER u

        WHERE
        u.STATE = '10A' AND u.USER_TYPE='1')
		) t

		<where>
			 t.orgId IN
			<if test="orgIds != null">
				<foreach collection="orgIds" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="staffName != null and ''!= staffName">
				AND t.staffName like CONCAT("%",#{staffName},"%")
			</if>
			<if test="whereSql!=null">
				AND ${whereSql}
			</if>
		</where>
		<if test="orderBySql!=null">
			ORDER BY ${orderBySql}
		</if>
		<if test="orderBySql==null">
			ORDER BY t.userId DESC
		</if>


	</select>
	
	<select id="countStaff" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM OAAS_STAFF 
		WHERE 1=1
		<if test="number!=null">
			AND STAFF_NUMBER = #{number}
		</if>
		<if test="source!=null">
			AND SOURCE = #{source}
		</if>
	</select>
  
</mapper>