<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.StaffJobMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.StaffJob">
    <id column="STAFF_JOB_ID" jdbcType="DECIMAL" property="staffJobId" />
    <result column="JOB_ID" jdbcType="DECIMAL" property="jobId" />
    <result column="STAFF_ID" jdbcType="DECIMAL" property="staffId" />
    <result column="DEFAULT_JOB" jdbcType="DECIMAL" property="defaultJob" />
    
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="SOURCE" jdbcType="NUMERIC" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    STAFF_JOB_ID, JOB_ID, STAFF_ID, DEFAULT_JOB,SOURCE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM OAAS_STAFF_JOB
    WHERE STAFF_JOB_ID = #{staffJobId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    DELETE from OAAS_STAFF_JOB
    WHERE STAFF_JOB_ID = #{staffJobId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.StaffJob">
    INSERT INTO OAAS_STAFF_JOB (STAFF_JOB_ID, JOB_ID, STAFF_ID, 
      DEFAULT_JOB,SOURCE)
    VALUES (#{staffJobId,jdbcType=DECIMAL}, #{jobId,jdbcType=DECIMAL}, #{staffId,jdbcType=DECIMAL}, 
      #{defaultJob,jdbcType=DECIMAL},#{source,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.StaffJob">
    INSERT INTO OAAS_STAFF_JOB
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffJobId != null">
        STAFF_JOB_ID,
      </if>
      <if test="jobId != null">
        JOB_ID,
      </if>
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="defaultJob != null">
        DEFAULT_JOB,
      </if>
      <if test="source != null">
        SOURCE
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffJobId != null">
        #{staffJobId,jdbcType=DECIMAL},
      </if>
      <if test="jobId != null">
        #{jobId,jdbcType=DECIMAL},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="defaultJob != null">
        #{defaultJob,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        #{source,jdbcType=NUMERIC}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.StaffJob">
    UPDATE OAAS_STAFF_JOB
    <set>
      <if test="jobId != null">
        JOB_ID = #{jobId,jdbcType=DECIMAL},
      </if>
      <if test="staffId != null">
        STAFF_ID = #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="defaultJob != null">
        DEFAULT_JOB = #{defaultJob,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=NUMERIC}
      </if>
    </set>
    WHERE STAFF_JOB_ID = #{staffJobId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.StaffJob">
    UPDATE OAAS_STAFF_JOB
    SET JOB_ID = #{jobId,jdbcType=DECIMAL},
      STAFF_ID = #{staffId,jdbcType=DECIMAL},
      DEFAULT_JOB = #{defaultJob,jdbcType=DECIMAL},
      SOURCE = #{source,jdbcType=NUMERIC}
    WHERE STAFF_JOB_ID = #{staffJobId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectStaffJobList" resultMap="BaseResultMap" parameterType="com.basic.oaas.bean.StaffJobIbean">
  	SELECT 
	    OSJ.*,
		OJ.JOB_NAME,
		OO.ORG_NAME
    FROM OAAS_STAFF_JOB AS OSJ
	LEFT JOIN OAAS_JOB AS OJ ON OJ.JOB_ID = OSJ.JOB_ID
	LEFT JOIN OAAS_ORG AS OO ON OO.ORG_ID = OJ.ORG_ID
    <where>
    	<if test="staffId != null and staffId !=''">
    		AND OSJ.STAFF_ID = #{staffId,jdbcType=DECIMAL}
    	</if>
    	<if test="jobId != null and jobId !=''">
    		AND OSJ.JOB_ID = #{jobId,jdbcType=DECIMAL}
    	</if>
    	<if test="isDefault != null and isDefault !=''">
    		AND OSJ.DEFAULT_JOB = #{default,jdbcType=DECIMAL}
    	</if>
    </where>
    <if test="start != null and limit != null and limit > 0">
      LIMIT #{start}, #{limit}
    </if>
  </select>
  
  <select id="selectStaffJobListCount" resultType="java.lang.Long" parameterType="com.basic.oaas.bean.StaffJobIbean">
  	SELECT 
	    COUNT(1)
    FROM OAAS_STAFF_JOB AS OSJ
	LEFT JOIN OAAS_JOB AS OJ ON OJ.JOB_ID = OSJ.JOB_ID
	LEFT JOIN OAAS_ORG AS OO ON OO.ORG_ID = OJ.ORG_ID
    <where>
    	<if test="staffId != null and staffId !=''">
    		OSJ.STAFF_ID = #{staffId,jdbcType=DECIMAL}
    	</if>
    	<if test="jobId != null and jobId !=''">
    		AND OSJ.JOB_ID = #{jobId,jdbcType=DECIMAL}
    	</if>
    </where>
  </select>
  
  <delete id="deleteByStaffDefaultJob" parameterType="java.math.BigDecimal">
  		DELETE FROM OAAS_STAFF_JOB WHERE DEFAULT_JOB = 1 AND STAFF_ID = #{staffId,jdbcType=DECIMAL};
  </delete>
  
  <delete id="deleteByStaff" parameterType="java.math.BigDecimal">
  		DELETE FROM OAAS_STAFF_JOB WHERE STAFF_ID = #{staffId,jdbcType=DECIMAL};
  </delete>
  
  <delete id="deleteBatchByStaffJobIds">
  	DELETE FROM OAAS_STAFF_JOB WHERE STAFF_JOB_ID IN 
  	<foreach collection="array" item="staffJobId" index="index"
            open="(" close=")" separator=",">
               #{staffJobId,jdbcType=DECIMAL}         
    </foreach>
  </delete>
  
  <select id="selectExistStaffJob" resultType="java.lang.Integer" parameterType="com.basic.oaas.bean.StaffJobIbean">
  	SELECT 
	    COUNT(1)
    FROM OAAS_STAFF_JOB AS OSJ
    WHERE 
    STAFF_ID = #{staffId,jdbcType=DECIMAL}
    AND	JOB_ID = #{jobId,jdbcType=DECIMAL}
  </select>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
	SELECT * FROM OAAS_STAFF_JOB
	<where>
	    <if test="whereSql!=null">
	        ${whereSql}
	    </if>
	</where>
	<if test="orderBySql!=null">
	    ORDER BY ${orderBySql}
	</if>
	<if test="orderBySql==null">
	    ORDER BY STAFF_JOB_ID DESC
	</if>
	
	
  </select>
</mapper>