<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.UserDataInstMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.UserDataInst">
    <id column="USER_DATA_INST_ID" jdbcType="DECIMAL" property="userDataInstId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="DATA_INST_ID" jdbcType="DECIMAL" property="dataInstId" />
    
    <result column="DATA_INST_NAME" jdbcType="DECIMAL" property="dataInstName" />
    <result column="DATA_CODE" jdbcType="DECIMAL" property="dataCode" />
    <result column="DATA_NAME" jdbcType="DECIMAL" property="dataName" />
    <result column="DATA_DATA_ID" jdbcType="DECIMAL" property="dataDataId" />
    <result column="DATA_DATA_CODE" jdbcType="DECIMAL" property="dataDataCode" />
    <result column="DATA_DATA_NAME" jdbcType="DECIMAL" property="dataDataName" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="SCOPE_TYPE" jdbcType="DECIMAL" property="scopeType" />
    <result column="SOURCE_TYPE" jdbcType="DECIMAL" property="sourceType" />
    <result column="SOURCE_ID" jdbcType="DECIMAL" property="sourceId" />
    <result column="SCOPE_TYPE_NAME" jdbcType="DECIMAL" property="scopeTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_DATA_INST_ID, USER_ID, DATA_INST_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_USER_DATA_INST
    where USER_DATA_INST_ID = #{userDataInstId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_USER_DATA_INST
    where USER_DATA_INST_ID = #{userDataInstId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.UserDataInst">
    insert into OAAS_USER_DATA_INST (USER_DATA_INST_ID, USER_ID, DATA_INST_ID
      )
    values (#{userDataInstId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{dataInstId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.UserDataInst">
    insert into OAAS_USER_DATA_INST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDataInstId != null">
        USER_DATA_INST_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="dataInstId != null">
        DATA_INST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDataInstId != null">
        #{userDataInstId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="dataInstId != null">
        #{dataInstId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.UserDataInst">
    update OAAS_USER_DATA_INST
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="dataInstId != null">
        DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL},
      </if>
    </set>
    where USER_DATA_INST_ID = #{userDataInstId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.UserDataInst">
    update OAAS_USER_DATA_INST
    set USER_ID = #{userId,jdbcType=DECIMAL},
      DATA_INST_ID = #{dataInstId,jdbcType=DECIMAL}
    where USER_DATA_INST_ID = #{userDataInstId,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteBatchByUserId">
  	DELETE FROM OAAS_USER_DATA_INST
    WHERE USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insertBatchUserDataInst" parameterType="java.util.List">
  	INSERT INTO OAAS_USER_DATA_INST (
    <include refid="Base_Column_List" /> 
    ) VALUES
     <foreach collection="list" item="item" index="index" separator="," >
      (  
      #{item.userDataInstId,jdbcType=DECIMAL}, 
      #{item.userId,jdbcType=DECIMAL}, 
      #{item.dataInstId,jdbcType=DECIMAL}
       )
    </foreach>
  </insert>
  
  <select id="selectUserDataInstList" resultMap="BaseResultMap" parameterType="java.util.Map">
  	SELECT 
		OPDI.DATA_INST_NAME,
		OPD.DATA_CODE,
		OPD.DATA_NAME,
		OPDST.SCOPE_TYPE_NAME,
		OPDD.DATA_DATA_ID,
		OPDD.DATA_DATA_CODE,
		OPDD.DATA_DATA_NAME,
		OPDD.PARENT_ID,
		OPDD.SCOPE_TYPE,
		OPDD.SOURCE_TYPE,
		OPDD.SOURCE_ID
	
	 FROM (
	SELECT
		OUDG.USER_ID,
		OPDGI.DATA_INST_ID
	FROM
	OAAS_USER_DATA_GRP AS OUDG
	INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_GROUP_ID = OUDG.DATA_GROUP_ID
	UNION
	SELECT
		OUDI.USER_ID,
		OUDI.DATA_INST_ID
	FROM
	OAAS_USER_DATA_INST AS OUDI
	) A
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_INST_ID = A.DATA_INST_ID
	INNER JOIN OAAS_PRIV_DATA AS OPD ON OPD.DATA_ID = OPDI.DATA_ID AND OPD.STATE = '10A'
	INNER JOIN OAAS_PRIV_DATA_INST_DATA AS OPDID ON OPDID.DATA_INST_ID = OPDI.DATA_INST_ID
	INNER JOIN OAAS_PRIV_DATA_DATA AS OPDD ON OPDD.DATA_DATA_ID = OPDID.DATA_DATA_ID
	INNER JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPDD.SCOPE_TYPE
	<where>
		<if test="userId != null and userId !=''">
			AND A.USER_ID = #{userId,jdbcType=DECIMAL}
		</if>
		<if test="companyId != null and companyId !=''">
			AND os.COMPANY_ID = #{companyId,jdbcType=DECIMAL}
		</if>
		<if test="dataCode != null and dataCode != ''">
			AND OPD.DATA_CODE = #{dataCode,jdbcType=VARCHAR}
		</if>
		<if test="scopeType != null and scopeType != ''">
			AND OPDD.SCOPE_TYPE = #{scopeType,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT 
		OPDI.DATA_INST_NAME,
		OPD.DATA_CODE,
		OPD.DATA_NAME,
		OPDST.SCOPE_TYPE_NAME,
		OPDD.DATA_DATA_ID,
		OPDD.DATA_DATA_CODE,
		OPDD.DATA_DATA_NAME,
		OPDD.PARENT_ID,
		OPDD.SCOPE_TYPE,
		OPDD.SOURCE_TYPE,
		OPDD.SOURCE_ID
	
	 FROM (
	SELECT
		OUDG.USER_ID,
		OPDGI.DATA_INST_ID
	FROM
	OAAS_USER_DATA_GRP AS OUDG
	INNER JOIN OAAS_PRIV_DATA_GRP_INST AS OPDGI ON OPDGI.DATA_GROUP_ID = OUDG.DATA_GROUP_ID
	UNION
	SELECT
		OUDI.USER_ID,
		OUDI.DATA_INST_ID
	FROM
	OAAS_USER_DATA_INST AS OUDI
	) A
	INNER JOIN OAAS_PRIV_DATA_INST AS OPDI ON OPDI.DATA_INST_ID = A.DATA_INST_ID
	INNER JOIN OAAS_PRIV_DATA AS OPD ON OPD.DATA_ID = OPDI.DATA_ID AND OPD.STATE = '10A'
	INNER JOIN OAAS_PRIV_DATA_INST_DATA AS OPDID ON OPDID.DATA_INST_ID = OPDI.DATA_INST_ID
	INNER JOIN OAAS_PRIV_DATA_DATA AS OPDD ON OPDD.DATA_DATA_ID = OPDID.DATA_DATA_ID
	INNER JOIN OAAS_PRIV_DATA_SCOPE_TYPE AS OPDST ON OPDST.SCOPE_TYPE = OPDD.SCOPE_TYPE
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY DATA_INST_NAME ASC
        </if>
    </select>
 
</mapper>