<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.UserDataGroupMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.UserDataGroup">
    <id column="USER_DATA_GRP_ID" jdbcType="DECIMAL" property="userDataGrpId" />
    <result column="DATA_GROUP_ID" jdbcType="DECIMAL" property="dataGroupId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_DATA_GRP_ID, DATA_GROUP_ID, USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_USER_DATA_GRP
    where USER_DATA_GRP_ID = #{userDataGrpId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_USER_DATA_GRP
    where USER_DATA_GRP_ID = #{userDataGrpId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.UserDataGroup">
    insert into OAAS_USER_DATA_GRP (USER_DATA_GRP_ID, DATA_GROUP_ID, USER_ID
      )
    values (#{userDataGrpId,jdbcType=DECIMAL}, #{dataGroupId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.UserDataGroup">
    insert into OAAS_USER_DATA_GRP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDataGrpId != null">
        USER_DATA_GRP_ID,
      </if>
      <if test="dataGroupId != null">
        DATA_GROUP_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDataGrpId != null">
        #{userDataGrpId,jdbcType=DECIMAL},
      </if>
      <if test="dataGroupId != null">
        #{dataGroupId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.UserDataGroup">
    update OAAS_USER_DATA_GRP
    <set>
      <if test="dataGroupId != null">
        DATA_GROUP_ID = #{dataGroupId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
    </set>
    where USER_DATA_GRP_ID = #{userDataGrpId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.UserDataGroup">
    update OAAS_USER_DATA_GRP
    set DATA_GROUP_ID = #{dataGroupId,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=DECIMAL}
    where USER_DATA_GRP_ID = #{userDataGrpId,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteBatchByUserId">
  	DELETE FROM OAAS_USER_DATA_GRP
    WHERE USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insertBatchUserDataGroup" parameterType="java.util.List">
  	INSERT INTO OAAS_USER_DATA_GRP (
    <include refid="Base_Column_List" /> 
    ) VALUES
     <foreach collection="list" item="item" index="index" separator="," >
      (  
      #{item.userDataGrpId,jdbcType=DECIMAL}, 
      #{item.dataGroupId,jdbcType=DECIMAL}, 
      #{item.userId,jdbcType=DECIMAL}
       )
    </foreach>
  </insert>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM OAAS_USER_DATA_GRP
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY USER_DATA_GRP_ID DESC
        </if>
    </select>
  
  
</mapper>