<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.oaas.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.basic.oaas.model.UserRole">
    <id column="USER_ROLE_ID" jdbcType="DECIMAL" property="userRoleId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="EMPOWER_FLAG" jdbcType="DECIMAL" property="empowerFlag" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="CREATE_USER_ID" jdbcType="DECIMAL" property="createUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ROLE_ID, USER_ID, ROLE_ID, EMPOWER_FLAG,CREATE_USER_ID,CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OAAS_USER_ROLE
    where USER_ROLE_ID = #{userRoleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from OAAS_USER_ROLE
    where USER_ROLE_ID = #{userRoleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.basic.oaas.model.UserRole">
    insert into OAAS_USER_ROLE (USER_ROLE_ID, USER_ID, ROLE_ID, 
      EMPOWER_FLAG,CREATE_USER_ID,CREATE_TIME)
    values (#{userRoleId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}, 
      #{empowerFlag,jdbcType=DECIMAL},#{createUserId,jdbcType=DECIMAL},#{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.basic.oaas.model.UserRole">
    insert into OAAS_USER_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userRoleId != null">
        USER_ROLE_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="empowerFlag != null">
        EMPOWER_FLAG,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userRoleId != null">
        #{userRoleId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="empowerFlag != null">
        #{empowerFlag,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.basic.oaas.model.UserRole">
    update OAAS_USER_ROLE
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="empowerFlag != null">
        EMPOWER_FLAG = #{empowerFlag,jdbcType=DECIMAL},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where USER_ROLE_ID = #{userRoleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.basic.oaas.model.UserRole">
    update OAAS_USER_ROLE
    set USER_ID = #{userId,jdbcType=DECIMAL},
      ROLE_ID = #{roleId,jdbcType=DECIMAL},
      EMPOWER_FLAG = #{empowerFlag,jdbcType=DECIMAL},
      CREATE_USER_ID = #{createUserId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where USER_ROLE_ID = #{userRoleId,jdbcType=DECIMAL}
  </update>
  
  <delete id="deleteBatchByUserId">
  	DELETE FROM OAAS_USER_ROLE
    WHERE USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insertBatchUserRole" parameterType="java.util.List">
  	INSERT INTO OAAS_USER_ROLE (
    <include refid="Base_Column_List" /> 
    ) VALUES
     <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.userRoleId,jdbcType=DECIMAL}, 
      #{item.userId,jdbcType=DECIMAL}, 
      #{item.roleId,jdbcType=DECIMAL}, 
      #{item.empowerFlag,jdbcType=DECIMAL},
      #{item.createUserId,jdbcType=DECIMAL},
      #{item.createTime,jdbcType=TIMESTAMP}
       )
    </foreach>
  </insert>
  
  <select id="selectUserRoleByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	SELECT
		OUR.USER_ROLE_ID,OUR.USER_ID,OUR.ROLE_ID,OUR.EMPOWER_FLAG
	FROM
	OAAS_USER_ROLE AS OUR
	WHERE OUR.USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  
  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT OUR.*,ROLE.ROLE_CODE,ROLE.ROLE_NAME 
        FROM OAAS_USER_ROLE OUR
        LEFT JOIN OAAS_ROLE ROLE ON ROLE.ROLE_ID = OUR.ROLE_ID
        <where>
        	 ROLE.STATE = '10A'
            <if test="whereSql!=null">
               AND ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
        <if test="orderBySql==null">
            ORDER BY OUR.USER_ROLE_ID DESC
        </if>
  </select>
</mapper>